.allerta-stencil-regular {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
* {
    background-color: black;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body, h1, h2, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Allerta Stencil;
    color: #ffffff;
    font-size: 150%;
}
h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 150%;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-family: Allerta Stencil;
}
form input, form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Allerta Stencil;
    color: white;
}
form button {
    padding: 10px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Playwrite NG Modern;
    font-family: Allerta Stencil;
    font-size: 100%;
}
form button:hover {
    background-color: rgb(168, 95, 0);
    transition: ease-out;
    box-shadow: #f1f1f1;
    color: #f9f9f9;
    transform:inherit;
}
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    background-color: rgb(168, 95, 0);
    transition: ease-out;
    box-shadow: #f1f1f1;
    color: #f9f9f9;
    transform:inherit;
  }
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Allerta Stencil;
    font-size: 60%;
}
@media only screen and (max-width: 768px) {
    nav {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
iframe {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
  }