.allerta-stencil-regular {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    background-image: url(wallpaper-csgo-61.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    opacity: 0;
    animation: fadeIn 1s forwards;
    padding top: 60px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body, h1, h2, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Allerta Stencil;
    background-color: #f0f0f0;
    color: #333;
    font-size: 200%;
}

header {
    background-color: transparent;
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    background-color: grey;
    transition: ease-out;
    box-shadow: #f1f1f1;
    color: #f9f9f9;
    transform:inherit;
  }
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Allerta Stencil;
    font-size: 60%;
}
@media only screen and (max-width: 768px) {
    nav {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}